@use 'palette';

body {
  padding: 0;
  margin: 0;
  background: palette.$background-dark;
  color: palette.$background-light;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

#root {
  width: 100%;
}

main {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .tools {
    border: 2px solid palette.$highlight-light;
    background: palette.$highlight;
    color: palette.$highlight-light;
    padding: 0.5rem;
  }
}

a {
  color: palette.$accent-light;
  text-decoration: none;
  &:visited {
    color: palette.$shade-light;
  }
  &:hover {
    color: palette.$highlight-light;
  }
}

nav {
  background: palette.$panel;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .end {
    margin-left: auto;
    padding: 0.5rem 0;
  }

  a {
    min-width: 2rem;
    text-align: center;
    margin-right: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid palette.$shade;
    background: palette.$background;
    color: palette.$accent-light;

    &:visited {
      color: palette.$accent-light;
    }
    &:hover {
      color: palette.$highlight-light !important;
    }
  }
}

h1 {
  margin-left: 2rem;
  color: palette.$highlight-light
}

.error {
  padding: 2rem;
  background: palette.$accent-dark;
  border: 1px solid palette.$accent-light;
  border-radius: 4px;
  color: palette.$accent-light;
}

.success {
  padding: 2rem;
  background: palette.$background-light;
  border: 1px solid palette.$background-dark;
  border-radius: 4px;
  color: palette.$background-dark;
}

button {
  border-radius: 4px;
  padding: 0.4rem;
  background: palette.$highlight-light;
  color: palette.$highlight-dark;
  border: 2px palette.$highlight-light;
  margin: 0 0.5rem;
  cursor: pointer;
  &:active {
    background: palette.$highlight-dark;
    color: palette.$highlight-light;
    border: palette.$highlight-light;

  }
}

