$background: #2e161d;
$panel: #5b2337;
$accent: #a67871;
$shade: #473038;
$highlight: #ab4f01;

$background-dark: #15191e;
$panel-dark: #29333d;
$accent-dark: #3d292f;
$shade-dark: #1f1418;
$highlight-dark: #3d3b29;

$background-light: #d2d8e0;
$panel-light: #a4b3c1;
$accent-light: #e0d1d6;
$shade-light: #986777;
$highlight-light: #b8b394;
