@use "palette";

main.book-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 2rem;
  grid-gap: 1rem;
  align-items: stretch;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  .tools {
    grid-column-start: 1;
    grid-column-end: 4;
    @media (max-width: 768px) {
      grid-column-end: 3;
    }
    @media (max-width: 600px) {
      grid-column-end: 2;
    }
  }

  #book-tools {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    #searchform {
      max-width: 50%;
    }
  }

  #pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;

    button {
      border: 1px solid palette.$shade;
      width: 10rem;

      &:disabled {
        pointer-events: none;
        cursor: not-allowed;
        background-color: palette.$highlight;
        color: palette.$highlight-light;
        border: 1px solid palette.$highlight-light;
      }

      &.next:after {
        margin-left: 1rem;
        content: '>'
      }

      &.prev:before {
        margin-right: 1rem;
        content: '<'
      }
    }
  }

  div.card {
    align-self: start;
    padding: 4em;
    border-radius: 10px;
    border: 3px solid palette.$shade;
    background: palette.$background;
    color: palette.$panel-light;

    h2 {
      margin-top: 0.5rem;
      color: palette.$accent;
    }

    .more-info {
      margin: 0.5rem;
      width: 100%;
      text-align: end;
    }
  }
}
